# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\chenxiang\project\spring-cloud-alibaba-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

target

.idea

*.iml
